{% extends 'base/base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load my_tags %}

{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de {{view.model|verbose_name_plural}}</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Opciones:</div>
                <a class="dropdown-item" href="{% url 'inv:'|add_module:view.model|add:'_new' %}">
                    <i class="far fa-calendar-plus"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <form method="get" class="form-inline">
            {% bootstrap_form filter.form form_group_class='form-group mr-2' %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Buscar</button>
            {% endbuttons %}
        </form>
        <br>
        {% if not table.rows %}
            <div class="alert alert-info">No hay {{view.model|verbose_name_plural}}</div>
        {% else %}
            {% render_table table %}
        {% endif %}
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
{% endblock js_page %}